body{
    padding: 10px;
    margin: 10px;
}

.beeg-text{
    font-size: 5rem;
    padding: 4rem;
}

.warning{
    color: yellow;
    font-size: 2rem;
    padding: 15px;
    margin: 15px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.center {
    text-align: center;
}

.basic-text{
    font-size: 1.2rem;
}