
/* @import '@angular/material/prebuilt-themes/indigo-pink.css';
@include mat-core();


$schnitzel-primary: mat-palette($mat-cyan); */


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: darkslategrey;
    color: cyan;
    
}
a:link{
    color:yellow;
    text-decoration: none;
}

a:visited {
    color: yellow;
}

a:hover{
    text-decoration: underline;
}

